<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodoWithCoreData.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F317E6442A2711A500C0608D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F317E6592A2711AF00C0608D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F317E6632A2711AF00C0608D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
